/* Full-width input fields */

.registerForm {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}


.registerForm input[type="text"],
input[type="password"],
select {
  width: 100%;
  /* padding: 15px; */
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */

.registerForm input[type="text"]:focus,
input[type="password"]:focus,
select {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
/* button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  /* padding: 14px 20px; */
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 30%;
 
}

/* Add padding to container elements */
.registerContainer {
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 14px 28px #000428, 0 10px 10px #004e92;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  padding: 16px;
  background-image: linear-gradient(15deg, rgb(75, 121, 161) 0%, rgb(40, 62, 81) 100%);
}

.registerContainer >label{
  color: white;
  font-size: larger;
  letter-spacing: 1px;
  font-weight: 700;
  
}

.registerContainer>h1{
  color: white;
}
.registerContainer p{
  color: white;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: transparent;
  margin: 5% auto 10%; /* 5% from the top, 15% from the bottom and centered */
  /* border: 1px solid #888; */
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* .clearfix{
  display: flex;
  justify-content: space-around;
} */

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
